
.playerWrapper {
  position: relative;
  width: 100%;
  max-width: 900px; 
  aspect-ratio: 16 / 9;
  background-color: #000;
  border-radius: 16px;
  overflow: hidden;
  color: white;
  font-family: sans-serif;
}

.videoElement {
  width: 100%;
  height: 100%;
}

.controlsOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.controlsOverlay.visible {
  opacity: 1;
}

.iconButton {
  background: none;
  border: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
  position: relative;
}

.iconButton:hover {
  background-color: rgba(255, 255, 255, 0.2);
}


.topControls {
  display: flex;
  justify-content: flex-end;
  padding: 12px;
}

/*play/pause, tua */
.centerControls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.playPauseButton {
  background-color: rgba(0, 0, 0, 0.5);
  width: 70px;
  height: 70px;
}

.seekAmount {
  position: absolute;
  font-size: 12px;
  font-weight: bold;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 0.5px;
}

.bottomControls {
  padding: 12px 20px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
}

.controlsRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timeDisplay {
  font-size: 14px;
  font-weight: 500;
}

.progressBarContainer {
  width: 100%;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  margin-bottom: 8px;
  border-radius: 5px;
}

.progressBar {
  height: 100%;
  background-color: #fff;
  border-radius: 5px;
}