/* src/pages/HomePage/HomePage.module.css */



.videoGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px 5px; 
  padding: 24px 48px;
  width: 100%;
  box-sizing: border-box; 
}

@media (max-width: 700px) {
  .videoGrid {
    grid-template-columns: 1fr;
    padding: 16px;
  }
}