/* src/App.css */

.appContainer {
  display: grid;
  grid-template-rows: auto 2fr;
  width: 100%;
  height: 100vh;       
}

.stickyHeaderContainer {
  top: 0;
  z-index: 1000;
  background-color: #ffffff; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mainContent {
  flex-grow: 1; 
  width: 100%;
  overflow-y: auto;
}